<div class="container-fluid bg-color vh-100">
    <div class="container pt-5">
        <img src="./assets/brand/logo.png" style="width: 70px; height: auto; object-fit: contain;" alt="">
        <div class="row d-flex flex-row align-items-center justify-content-center">
            <div class="col-md-5 d-flex flex-column align-items-right justify-content-center">
                <img src="./assets/img/main.png" class="w-50" alt="">
                <div class="text-white h2 pt-5">
                    <h1>Welcome!!</h1>
                    to the admin dashboard of Triveda mobile application
                </div>
            </div>
            <div class="col-md-5 d-flex flex-column align-items-center justify-content-center">
                <div class="col-md-12 col-lg-8 bg-white p-5 rounded ">
                    <h2 class="text-color fw-bold py-5">SIGN IN</h2>
                    <form action="">
                        <div class="mb-5 w-100">
                            <input type="email" class="inputs text-color-light form-control" id="email" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="inputs text-color-light form-control w-100" id="password" placeholder="Password">
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <a href="" class="text-color-light float-right" style="text-decoration: none;"><h6>Fogot Password?</h6></a>
                        </div>
                        <div class=" d-flex justify-content-center py-5">
                            <button class="btn-dark-green w-100" [routerLink]="['/dashboard']">Sign In</button>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="leaves w-100 d-flex align-items-center justify-content-around">
        <img src="./assets/brand/leaf-one.png" alt="">
        <img src="./assets/brand/leaf-two.png" alt="">
        <img src="./assets/brand/leaf-three.png" alt="">
        <img src="./assets/brand/leaf-four.png" alt="">
        <img src="./assets/brand/leaf-five.png" alt="">
        <img src="./assets/brand/leaf-six.png" alt="">
        <img src="./assets/brand/leaf-seven.png" alt="">
    </div>
</div>
