<div class="container">
  <div class="sub-pages">
    <div class="p-4">
      <div class="pt-5 mt-4">
        <form class="col-md-6 col-xl-4 px-0 mr-md-3 pb-5">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <input class="form-control w-50 shadow-elements search-input" placeholder="Search doctor . . ."
                type="text" (focus)="focus = true" (blur)="focus = false" [(ngModel)]="key" (ngModelChange)="p = 1">
                <div class="">
                  <span class="input-group-text search-icon"><i class="fas fa-search p-1 text-color"></i></span>
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered bg-light rounded shadow-elements">
          <tbody>
            <tr class="bg-color text-white text-center rounded">
              <th scope="col" class="rounded-start">Name</th>
              <th scope="col">Personal <br> Info</th>
              <th scope="col">Profession <br> Info</th>
              <th scope="col">Available <br> Time</th>
              <th scope="col">Service</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col" class="rounded-end"></th>
            </tr>
            <tr *ngFor="let doctor of doctors| filter:key">
              <th scope="row" class="text-color">{{doctor.name}}</th>
              <td class="text-center"><button class="btn-table btn-default" (click)="personalInfo(content1)"><i
                    class="fas fa-user-alt text-color-light shadow-elements py-2 px-3 rounded"></i></button>
                    <!--personal info modal starts here-->
                    <ng-template #content1 let-modal>
                      <div class="modal-header bg-color text-white">
                        <h5 class="modal-title" id="personalInfo">Personal Info</h5>
                        <button type="button" class="close bg-color border-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true" class="text-white">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body text-color">
                        <div class="row pb-3">
                          <div class="col-5">Gender</div>
                          <div class="col-1">:</div>
                          <div *ngIf="doctor.gender == 0 " class="text-color-light col-6">Male</div>
                          <div *ngIf="doctor.gender == 1 " class="text-color-light col-6">Female</div>
                        </div>
                        <div class="row pb-3">
                          <div class="col-5">Contact No</div>
                          <div class="col-1">:</div>
                          <div class="text-color-light col-6">{{doctor.phoneNumber}}</div>
                        </div>
                        <div class="row pb-3">
                          <div class="col-5">Email</div>
                          <div class="col-1">:</div>
                          <div class="text-color-light col-6">{{doctor.email}}</div>
                        </div>
                        <div class="row pb-3">
                          <div class="col-5">District</div>
                          <div class="col-1">:</div>
                          <div class="text-color-light col-6">{{doctor.district}}</div>
                        </div>
                        <div class="row pb-3">
                          <div class="col-5">Province</div>
                          <div class="col-1">:</div>
                          <div class="text-color-light col-6">{{doctor.province}}</div>
                        </div>
                        <div class="row pb-3">
                          <div class="col-5">Address</div>
                          <div class="col-1">:</div>
                          <div class="text-color-light col-6">{{doctor.lane}} , {{doctor.district}} , {{doctor.province}}</div>
                        </div>
                      </div>
                    </ng-template>
              </td>
              <td class="text-center"><button class="btn-table btn-default" (click)="professionalInfo(content2)"><i
                    class="fas fa-user-tie text-secondary shadow-elements py-2 px-3 rounded"></i></button>
                    <!--profeesional info modal starts here-->
                    <ng-template #content2 let-modal>
                      <div class="modal-header bg-color text-white">
                        <h5 class="modal-title" id="personalInfo">Professional Info</h5>
                        <button type="button" class="close bg-color border-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true" class="text-white">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body text-color">
                        <div class="row pb-3">
                          <div class="col-5">Specialization</div>
                          <div class="col-1">:</div>
                          <div class="text-color-light col-6">{{doctor.specialization}}</div>
                        </div>
                        <div class="row pb-3">
                          <div class="col-5">Doctor ID</div>
                          <div class="col-1">:</div>
                          <div class="text-color-light col-6">{{doctor.medicalCouncilRegID}}</div>
                        </div>
                        <div class="row pb-3">
                          <div class="col-5">Hospital</div>
                          <div class="col-1">:</div>
                          <div class="text-color-light col-6">{{doctor.hospital}}</div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
              <td>{{doctor.availableTimeFrom}} - {{doctor.availableTimeTo}}</td>
              <td class=" d-flex flex-column"><div *ngFor="let i of doctor.serviceType.split(',')">{{i}}</div></td>
              <td class="text-center">Active</td>
              <!-- <td>{{doctor.status}}</td> -->
              <td class="text-center">
                <button class="btn-table btn-default" (click)="editInfo(content3)"><i class="fas fa-edit text-color shadow-elements py-2 px-3 rounded"></i></button>
                    <!--edit modal starts here-->
                    <ng-template #content3 let-modal>
                      <div class="modal-header bg-color text-white">
                        <h5 class="modal-title" id="personalInfo">Edit Doctor Details</h5>
                        <button type="button" class="close bg-color border-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true" class="text-white">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body text-color">
                        <form action="" class="p-2">
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <input type="text" class="inputs text-color-light form-control" placeholder="Doctor ID"
                                aria-label="DoctorId">
                            </div>
                            <div class="col-md-6 mb-4">
                              <input type="text" class="inputs text-color-light form-control" id="Position" placeholder="Position">
                            </div>
                          </div>
                          <div class="row mb-4">
                            <div class="col-md-6">
                              <input type="text" class="inputs text-color-light form-control w-100" id="Hospital"
                                placeholder="Hospital">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <label for="time" class="col-12 pb-3">Available Time</label>
                              <div class="row">
                                <div class="col-md-6 mb-4">
                                  <select class="inputs text-color-light form-select" aria-label="Default select example">
                                    <option selected disabled>From</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                                <div class="col-md-6 mb-4">
                                  <select class="inputs text-color-light form-select" aria-label="Default select example">
                                    <option selected disabled>To</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label for="services" class="col-12 pb-3">Services</label>
                              <div class="form-check">
                                <input class="inputs text-color-light form-check-input" type="checkbox" value="" id="channel">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Channel
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="inputs text-color-light form-check-input" type="checkbox" value="" id="onlineConsulting">
                                <label class="form-check-label" for="flexCheckChecked">
                                  Online Consulting
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="inputs text-color-light form-check-input" type="checkbox" value="" id="onlineYogaClass">
                                <label class="form-check-label" for="flexCheckChecked">
                                  Online Yoga Class
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex justify-content-end pt-5">
                            <button class="btn-dark-green px-5" (click)="ErrorMessage()" id="liveToastBtn">Edit</button>
                          </div>
                        </form>
                      </div>
                    </ng-template>
              </td>
              <td class="text-center"><button class="btn-table btn-default" (click)="cancelMessage()"><i
                    class="fas fa-trash text-danger shadow-elements py-2 px-3 rounded"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <a class="page-link text-color-light" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
          <li class="page-item"><a class="page-link text-color-light" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link text-color-light" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link text-color-light" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link text-color-light" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>






