<div class="container">
    <div class="sub-pages">
      <div class="p-4">
        <div class="pt-5 mt-4">
          <form class="col-md-6 col-xl-4 px-0 mr-md-3 pb-5">
            <div class="form-group mb-0">
              <div class="input-group input-group-alternative">
                <input class="form-control w-50 shadow-elements search-input" placeholder="Search patients . . ."
                  type="text">
                  <div class="">
                    <span class="input-group-text search-icon"><i class="fas fa-search p-1 text-color"></i></span>
                  </div>
              </div>
            </div>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered bg-light rounded shadow-elements">
            <tbody>
              <tr class="bg-color text-white text-center rounded">
                <th scope="col" class="rounded-start">Name</th>
                <th scope="col">Contact <br> Info</th>
                <th scope="col">District</th>
                <th scope="col">Province</th>
                <th scope="col" class="rounded-end"></th>
              <tr>
                <th scope="row" class="text-color">Jeewandara Banadara Wijewardhana</th>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#personalInfo"><i
                      class="fas fa-user-alt text-color-light shadow-elements py-2 px-3 rounded"></i></button></td>
                <td>Ratnapura</td>
                <td>Sabaragamuwa</td>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#delete"><i
                      class="fas fa-trash text-danger shadow-elements py-2 px-3 rounded"></i></button></td>
              </tr>
              <tr>
                <th scope="row" class="text-color">Jeewandara Banadara Wijewardhana</th>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#personalInfo"><i
                      class="fas fa-user-alt text-color-light shadow-elements py-2 px-3 rounded"></i></button></td>
                <td>Ratnapura</td>
                <td>Sabaragamuwa</td>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#delete"><i
                      class="fas fa-trash text-danger shadow-elements py-2 px-3 rounded"></i></button></td>
              </tr>
              <tr>
                <th scope="row" class="text-color">Jeewandara Banadara Wijewardhana</th>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#personalInfo"><i
                      class="fas fa-user-alt text-color-light shadow-elements py-2 px-3 rounded"></i></button></td>
                <td>Ratnapura</td>
                <td>Sabaragamuwa</td>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#delete"><i
                      class="fas fa-trash text-danger shadow-elements py-2 px-3 rounded"></i></button></td>
              </tr>
              <tr>
                <th scope="row" class="text-color">Jeewandara Banadara Wijewardhana</th>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#personalInfo"><i
                      class="fas fa-user-alt text-color-light shadow-elements py-2 px-3 rounded"></i></button></td>
                <td>Ratnapura</td>
                <td>Sabaragamuwa</td>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#delete"><i
                      class="fas fa-trash text-danger shadow-elements py-2 px-3 rounded"></i></button></td>
              </tr>
              <tr>
                <th scope="row" class="text-color">Jeewandara Banadara Wijewardhana</th>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#personalInfo"><i
                      class="fas fa-user-alt text-color-light shadow-elements py-2 px-3 rounded"></i></button></td>
                <td>Ratnapura</td>
                <td>Sabaragamuwa</td>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#delete"><i
                      class="fas fa-trash text-danger shadow-elements py-2 px-3 rounded"></i></button></td>
              </tr>
              <tr>
                <th scope="row" class="text-color">Jeewandara Banadara Wijewardhana</th>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#personalInfo"><i
                      class="fas fa-user-alt text-color-light shadow-elements py-2 px-3 rounded"></i></button></td>
                <td>Ratnapura</td>
                <td>Sabaragamuwa</td>
                <td class="text-center"><button class="btn-table btn-default" data-bs-toggle="modal"
                    data-bs-target="#delete"><i
                      class="fas fa-trash text-danger shadow-elements py-2 px-3 rounded"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
              <a class="page-link text-color-light" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
              <li class="page-item"><a class="page-link text-color-light" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <a class="page-link text-color-light" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link text-color-light" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link text-color-light" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
  
  <!--personal info modal starts here-->
  <div class="modal fade rounded" id="personalInfo" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rounded">
      <div class="modal-content">
        <div class="modal-header bg-color text-white">
          <h5 class="modal-title" id="personalInfo">Contact Info</h5>
        </div>
        <div class="modal-body text-color">
          <div class="row pb-3">
            <div class="col-5">Contact No</div>
            <div class="col-1">:</div>
            <div class="text-color-light col-6">070 3532119</div>
          </div>
          <div class="row pb-3">
            <div class="col-5">Email</div>
            <div class="col-1">:</div>
            <div class="text-color-light col-6">testuser@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--delete modal starts here-->
  <div class="modal fade rounded" id="delete" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rounded modal-sm">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="personalInfo">Delete</h5>
        </div>
        <div class="modal-body text-color">
          <div class="text-center text-dark">Do you want to remove this patient from the system?</div>
          <div class="text-center"><img src="../../../assets/img/decision.gif" class="w-50" alt=""></div>
          <div class="d-flex flex-row justify-content-around">
            <div><button class="btn btn-danger px-5">Yes</button></div>
            <div><button class="btn btn-secondary px-5">No</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>