<div class="container">
    <div class="sub-pages">
      <div class="p-4">
        <div class="d-flex flex-row flex-wrap justify-content-between pt-md-5 mt-md-4">
            <form class="col-12 col-md-6 col-xl-4 px-0 mr-md-3 pb-3">
                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative">
                        <input class="form-control w-50 shadow-elements search-input"
                            placeholder="Search Medicine . . ." type="text" (focus)="focus = true" (blur)="focus = false" [(ngModel)]="key" (ngModelChange)="p = 1">
                        <div class="">
                            <span class="input-group-text search-icon"><i
                                    class="fas fa-search p-1 text-color"></i></span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- <div class="float-right">
                <button class="btn-light-green" (click)="addItem(content2)">Add Medicine</button>
            </div> -->
            <div role="group" ngbRadioGroup name="radioBasic" class="float-right">
              <a ngbButtonLabel class="btn-light-green text-white m-5 mb-0" style="text-decoration: none;" (click)="addItem(content2)">
                <input ngbButton type="radio" class="btn-check" [value]="1"> Add Medicine
              </a>
              <a ngbButtonLabel class="btn-light-green text-white" style="text-decoration: none;" [routerLink]="['../orders']">
                <input ngbButton type="radio" class="btn-check" [value]="2"> Orders
              </a>
            </div>
        </div>
        <div class="table-responsive pt-md-4">
          <table class="table table-bordered bg-light rounded shadow-elements">
            <tbody>
              <tr class="bg-color text-white text-center rounded">
                <th scope="col" class="rounded-start">Medicine</th>
                <th scope="col">Category</th>
                <th scope="col">Unit</th>
                <th scope="col">Price (Unit)</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sold (Amount)</th>
                <th scope="col">Available Quantity</th>
                <!-- <th scope="col">Profit</th> -->
                <th scope="col"></th>
                <th scope="col" class="rounded-end"></th>
              </tr>
              <ng-container *ngIf="medicines != null && medicines.length != 0; else elseBlock">
                <tr *ngFor="let medicine of medicines| filter:key | paginate: { itemsPerPage: 7, currentPage: p  } let i = index;">
                  <th scope="row" style="max-width: 200px;" class="text-color">{{medicine.medicine}}</th>
                  <td>{{medicine.category}}</td>
                  <td>{{medicine.unit}}</td>
                  <td>{{medicine.pricePerUnit}}</td>
                  <td>{{medicine.quantity}}</td>
                  <td>{{(medicine.quantity)*1//4}}</td>
                  <td>{{medicine.quantity - (medicine.quantity)*3/4}}</td>
                  <!-- <td>100</td> -->
                  <td class="text-center"><button class="btn-table btn-default" (click)="editItem(content1,medicine.id)"><i
                        class="fas fa-edit text-color shadow-elements py-2 px-3 rounded"></i></button>
                        <!--edit medicine starts here-->
                        <ng-template #content1 let-modal>
                          <div class="modal-header bg-color text-white">
                              <h5 class="modal-title" id="personalInfo">Edit Medicine</h5>
                              <button type="button" class="close bg-color border-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true" class="text-white">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body text-color">
                              <form [formGroup]="updateMedicineForm" class="p-5" (ngSubmit)="updateMedicine()">
                                <div class="pb-4">
                                  <input type="text" class="inputs text-color form-control" id="Medicine" formControlName="Medicine">
                              </div>
                              <div class="pb-4">
                                <select class="inputs text-color form-select" formControlName="Category" aria-label="Default select example">
                                <option value="Paantha">Paantha</option>
                                <option value="Kasaya">Kasaya</option>
                                <option value="Guli">Guli</option>
                                <option value="Chuurna">Chuurna</option>
                                <option value="Beauty">Beauty</option>
                                <option value="Thel">Thel</option>
                                <option value="Kalka">Kalka</option>
                                <option value="Arishta">Arishta</option>
                                <option value="Kwatha">Kwatha</option>
                                <option value="Thel">Thel</option>
                                <option value="Aasawa">Aasawa</option>
                                </select>
                              </div>
                              <div class="pb-4">
                                <input type="text" class="inputs text-color form-control" id="Unit" placeholder="Unit" formControlName="Unit" name="Unit">
                              </div>
                              <div class="pb-4">
                                  <input type="text" class="inputs text-color form-control" formControlName="PricePerUnit" id="PricePerUnit" name="PricePerUnit" placeholder="Price Per Unit">
                              </div>
                              <div class="pb-4">
                                  <input type="text" class="inputs text-color form-control" formControlName="Quantity" id="Quantity" name="Quantity" placeholder="Available Quantity">
                              </div>
                                <div class="d-flex justify-content-end pt-3">
                                  <button class="btn-dark-green px-5">Edit</button>
                                </div>
                              </form>
                            </div>
                        </ng-template>
                      </td>
                  <td class="text-center"><button class="btn-table btn-default" (click)="openDelete(content6,medicine.id)"><i
                        class="fas fa-trash text-danger shadow-elements py-2 px-3 rounded"></i></button>
                        <!-- TODO : start delete modal -->
                        <ng-template #content6 let-modal>
                          <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                            <div class="pt-2"><i style="font-size: 80px;" class="fas fa-times-circle text-danger"></i></div>
                            <div class="text-muted pt-5" style="font-size: 35px;font-weight:bold;">Remove Medicine</div>
                            <div class="text-muted pb-4">Are you sure, you want delete this medicine?</div>
                            <div class="d-flex flex-row">
                              <div><button type="button" class="btn btn-danger px-5 py-2 mx-2" (click)="deleteMedicine();modal.close('Save click')">Delete</button></div>
                              <div><button type="button" class="btn btn-dark text-white px-5 py-2 mx-2" (click)="modal.close('Save click')">Cancel</button></div>
                            </div>
                          </div>
                        </ng-template>
                      </td>
                </tr>
              </ng-container>
              <ng-template #elseBlock>
                <tr class="text-center">
                    <td colspan="9" class="text-center">NO RECORD FOUND</td>
                </tr>
            </ng-template>
              
            </tbody>
          </table>
        </div>
        <!-- <nav aria-label="...">
          <ul class="pagination justify-content-center">
            <a class="page-link text-color-light" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
            <li class="page-item"><a class="page-link text-color-light" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link text-color-light" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link text-color-light" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link text-color-light" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav> -->
        <pagination-controls class="text-color text-center"
                  (pageChange)="p = $event"
                  nextLabel="Next">
                </pagination-controls>
      </div>
    </div>
  </div>



<!--add medicine starts here-->
<ng-template #content2 let-modal>
    <div class="modal-header bg-color text-white">
        <h5 class="modal-title" id="personalInfo">Add Medicine</h5>
        <button type="button" class="close bg-color border-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true" class="text-white">&times;</span>
      </button>
      </div>
      <div class="modal-body text-color">
        <form [formGroup]="medicineForm" class="p-5" (ngSubmit)="addMedicine()">
          <div class="pb-4">
              <input type="text" class="inputs text-color form-control" id="Medicine" placeholder="Medicine" name="Medicine" formControlName="Medicine">
          </div>
          <div class="pb-4">
            <select class="inputs text-color form-select" formControlName="Category" aria-label="Default select example">
              <option value="Paantha">Paantha</option>
              <option value="Kasaya">Kasaya</option>
              <option value="Guli">Guli</option>
              <option value="Chuurna">Chuurna</option>
              <option value="Beauty">Beauty</option>
              <option value="Thel">Thel</option>
              <option value="Kalka">Kalka</option>
              <option value="Arishta">Arishta</option>
              <option value="Kwatha">Kwatha</option>
              <option value="Thel">Thel</option>
              <option value="Aasawa">Aasawa</option>
            </select>
          </div>
          <div class="pb-4">
            <input type="text" class="inputs text-color form-control" id="Unit" placeholder="Unit" formControlName="Unit" name="Unit">
          </div>
          <div class="pb-4">
              <input type="number" class="inputs text-color form-control" formControlName="PricePerUnit" id="PricePerUnit" name="PricePerUnit" placeholder="Price Per Unit">
          </div>
          <div class="pb-4">
              <input type="number" class="inputs text-color form-control" formControlName="Quantity" id="Quantity" name="Quantity" placeholder="Available Quantity">
          </div>
          <div class="d-flex justify-content-end pt-3">
            <button class="btn-dark-green px-5">Add</button>
          </div>
        </form>
      </div>
</ng-template>



