<div class="container">
    <div class="sub-pages">
        <div class="p-4">
            <div class="d-flex flex-row flex-wrap justify-content-between pt-md-5 mt-md-4">
                <form class="col-12 col-md-6 col-xl-4 px-0 mr-md-3 pb-3">
                    <div class="form-group mb-0">
                        <div class="input-group input-group-alternative">
                            <input class="form-control w-50 shadow-elements search-input"
                                placeholder="Search Food Recipes . . ." type="text"  (focus)="focus = true" (blur)="focus = false" [(ngModel)]="key" (ngModelChange)="p = 1">
                            <div class="">
                                <span class="input-group-text search-icon"><i
                                        class="fas fa-search p-1 text-color"></i></span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="float-right">
                    <button class="btn-light-green" (click)="addInfo(content2)">Add Recipe</button>
                </div>
            </div>
            <div class="table-responsive pt-md-4">
                <table class="table table-bordered bg-light rounded shadow-elements">
                    <tbody>
                        <tr class="bg-color text-white text-center rounded">
                            <th scope="col" class="rounded-start">Name</th>
                            <th scope="col">Type</th>
                            <!-- <th scope="col">Image</th> -->
                            <th scope="col">Ingredients</th>
                            <th scope="col">Steps</th>
                            <th scope="col"></th>
                            <th scope="col" class="rounded-end"></th>
                        </tr>
                        <tr *ngFor="let recipe of recipes| filter:key">
                            <th scope="row" class="text-color">{{ recipe.name }}</th>
                            <td>{{ recipe.category }}</td>
                            <!-- <td class="text-center"><button class="btn-table btn-default" (click)="viewImage(content3)"><i
                                        class="fas fa-image text-warning shadow-elements py-2 px-3 rounded"></i></button>
                            </td> -->
                            <td class="text-center"><button class="btn-table btn-default" (click)="viewImage(content3)"><div class="shadow-elements py-1 px-3 rounded"><img src="../../../assets/img/ingredients.png" alt="" style="width: 13.13px; height: 14.4px;"></div></button>
                                <!--ingredients view modal starts here-->
                                <ng-template #content3 let-modal>
                                    <div class="modal-header bg-color text-white">
                                        <h5 class="modal-title" id="personalInfo">Ingredients</h5>
                                        <button type="button" class="close bg-color border-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true" class="text-white">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-body text-color" *ngFor="let i of ingreds">
                                            <!-- <div class="text-dark">{{recipe.ingredients}}</div> -->
                                            <div class="text-dark">{{ i.split(':')[0] }} : <span>{{ i.split(':')[1] }}</span></div>
                                            <!-- <div class="text-dark">carrot (cut into small peaces) : <span>100g</span></div>
                                            <div class="text-dark">eggs : <span>2</span></div>
                                            <div class="text-dark">salt to taste : <span></span></div>
                                            <div class="text-dark">turmeric powder : <span>1/2 tsp</span></div> -->
                                        </div>
                                    </div>
                                </ng-template>
                            </td>
                            <td class="text-center"><button class="btn-table btn-default" (click)="viewSteps(content4)"><i
                                    class="fas fa-stream text-default shadow-elements py-2 px-3 rounded"></i></button>
                                    <!--viewStep modal starts here-->
                                    <ng-template #content4 let-modal>
                                        <div class="modal-header bg-dark text-white">
                                            <h5 class="modal-title" id="personalInfo">Steps</h5>
                                            <button type="button" class="close bg-dark border-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true" class="text-white">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-color" *ngFor="let step of steps ; let i = index">
                                            <div class="text-dark">Step {{i+1}}</div>
                                            <div class="text-dark" style="padding-left: 20px;">{{step}}</div>
                                            <!-- <div class="text-dark">Step 2</div>
                                            <div class="text-dark" style="padding-left: 20px;">{{recipes[0].steps.split(',')[1]}}</div>
                                            <div class="text-dark">Step 3</div>
                                            <div class="text-dark" style="padding-left: 20px;">{{recipes[0].steps.split(',')[2]}}</div>
                                            <div class="text-dark">Step 4</div>
                                            <div class="text-dark" style="padding-left: 20px;">{{recipes[0].steps.split(',')[3]}}</div>
                                            <div class="text-dark">Step 5</div>
                                            <div class="text-dark" style="padding-left: 20px;">{{recipes[0].steps.split(',')[4]}}</div>
                                            <div class="text-dark">Step 6</div>
                                            <div class="text-dark" style="padding-left: 20px;">{{recipes[0].steps.split(',')[5]}}</div> -->
                                        </div>
                                    </ng-template>
                            </td>
                            <td class="text-center"><button class="btn-table btn-default" (click)="editInfo(content1)"><i
                                        class="fas fa-edit text-color shadow-elements py-2 px-3 rounded"></i></button>
                            </td>
                            <td class="text-center"><button class="btn-table btn-default" (click)="cancelMessage()"><i
                                        class="fas fa-trash text-danger shadow-elements py-2 px-3 rounded"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <a class="page-link text-color-light" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <li class="page-item"><a class="page-link text-color-light" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link text-color-light" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link text-color-light" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link text-color-light" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>    
    </div>
</div>

<!--edit recipe starts here-->
<ng-template #content1 let-modal>
    <div class="modal-header bg-color text-white rounded">
        <h5 class="modal-title" id="personalInfo">Edit Recipe</h5>
        <button type="button" class="close bg-color border-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="text-white">&times;</span>
        </button>
    </div>
    <div class="modal-body text-color rounded">
        <form action="" class="p-4">
            <div class="pb-4">
                <input type="text" class="inputs text-color form-control" id="Name" placeholder="Name">
            </div>
            <div class="pb-4">
                <select class="inputs text-color form-select" aria-label="Default select example">
                    <option selected disabled>Type</option>
                    <option value="1">Type 1</option>
                    <option value="2">Type 2</option>
                    <option value="3">Type 3</option>
                </select>
            </div>
            <div class="pb-4">
                <div class="form-row">
                    <div class="form-group col-12">
                      <div class="img-container">
                        <img class="card-image" src="../../../assets/img/add-image.png"  alt="..." style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;"/>
                        <label for="file"><a class="btn btn-sm btn-default p-2 px-4"><i class="fas fa-pencil-alt"></i> edit</a></label>
                        <input type="file" id="file" name="profile_picture" placeholder="profile" class="card-header__edit"  hidden>
                      </div>
                      <!-- <span class="w-100 text-left">
                        <br>
                        <div class="alert alert-danger" role="alert"></div>
                      </span> -->
                    </div>
                  </div>
            </div>
            <div class="pb-4">
                <input type="text" class="inputs text-color form-control" id="Ingredients" placeholder="Ingredients">
            </div>
            <div class="pb-4">
                <input type="text" class="inputs text-color form-control" id="steps" placeholder="Steps">
            </div>
            <div class="d-flex justify-content-end pt-3">
                <button class="btn-dark-green px-5" (click)="ErrorMessage()">Edit</button>
            </div>
        </form>
    </div>
  </ng-template>


    <!-- Main div and ADD button is created -->
    <div class="showInputField" id="hi"></div>
    
    <!-- The add() function is called
    <button (click)="add()">ADD</button> -->
<!--add modal starts here-->
<ng-template #content2 let-modal>
    <div class="modal-header bg-color text-white">
        <h5 class="modal-title" id="add">Add Recipe</h5>
        <button type="button" class="close bg-color border-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="text-white">&times;</span>
        </button>
    </div>
    <div class="modal-body text-color">
        <form [formGroup]="recipeForm" (ngSubmit)="saveRecipe()" class="p-5">
            <div class="pb-4">
                <input type="text" ngModel="recipe.recipe_name" class="inputs text-color form-control" id="Name" placeholder="Name" formControlName="recipeName" required>
            </div>
            <div class="pb-4">
                <select class="inputs text-color form-select" ngModel="recipe.recipe_name" aria-label="Default select example" ngModel id="type" name="type" formControlName="type">
                    <!-- <option selected disabled>Cooked Food</option> -->
                    <option value="type 1">Cooked Food</option>
                    <option value="type 2">UnCooked Food</option>
                    <option value="type 3">Sweet Items</option>
                </select>
            </div>
            <div class="pb-4">
                <div class="form-row">
                    <div class="form-group col-12">
                      <div class="img-container">
                        <img class="card-image" src="../../../assets/img/add-image.png"  alt="..." style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;"/>
                        <label for="file"><a class="btn btn-sm btn-default p-2 px-4"><i class="fas fa-pencil-alt"></i> Add</a></label>
                        <input type="file" ngModel="recipe.recipe_img" name="profile_picture" placeholder="profile" class="card-header__edit" id="customFile" name="customFile" formControlName="customFile" id="customFile" hidden>
                      </div><!--(change)="ClassBanner($event, image)"-->
                      <!-- <span class="w-100 text-left">
                        <br>
                        <div class="alert alert-danger" role="alert"></div>
                      </span> -->
                    </div>
                  </div>
            </div>

            <!-- <ng-template #image let-modal>
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
              </ng-template> -->
            <!-- <div class="pb-4">
                <input type="text" class="inputs text-color form-control" id="des" name="des" formControlName="des" placeholder="Description">
            </div> -->
            
            <div class="pb-4">
                <input type="text" class="inputs text-color form-control" ngModel="recipe.recipe_steps" id="steps" name="steps" formControlName="steps" placeholder="Steps">
            </div>
            <!-- <div class="" id="AddField"></div>
            <div class="d-flex justify-content-end"><button class="btn-table btn-default mb-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Add New Step" (click)="addSteps()"><i class="fas fa-plus text-color shadow-elements py-2 px-3 rounded"></i></button></div> -->
            
            <div class="pb-4">
                <input type="text" class="inputs text-color form-control" id="ingredients" ngModel="recipe.recipe_ingredients" name="ingredients" formControlName="ingredients" placeholder="Ingredients">
            </div>
            <!-- <div class="" id="AddNewField"></div> -->
            <!-- <div class="d-flex justify-content-end"><button class="btn-table btn-default mb-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Add New Step" (click)="addIngredients()"><i class="fas fa-plus text-color shadow-elements py-2 px-3 rounded"></i></button></div> -->
            <div class="d-flex justify-content-end pt-3">
                <button type="submit" value="save" class="btn-dark-green px-5" (click)="modal.close('Save click')">Add</button>
            </div>
        </form>
    </div>
</ng-template>
