<div class="container">
    <div class="dashboard">
        <div class="d-flex flex-row justify-content-center flex-wrap">
            <div class="col-xl-1 d-none d-xl-block"></div>
            <div class="col-lg-4 col-xl-3 col-md-6 p-3">
                <div class="p-4 shadow-elements bg-light h-100 rounded">
                    <div><h5 class="text-color text-center pb-5">Most selling items</h5></div>
                    <div class="d-flex flex-row justify-content-between align-items-end col-12">
                        <div class="text-color col-8">
                            <div>koththamalli</div>
                            <div>mora guli</div>
                            <div>kasthuri kaha</div>
                        </div>
                        <div class="float-right col-4"><img src="../../../assets/img/money.gif" class="w-100" alt=""></div>
                    </div>
                </div>
            </div>            
            <div class="col-lg-4 col-xl-3 col-md-6 p-3">
                <div class="p-4 shadow-elements bg-light h-100 rounded">
                    <div><h5 class="text-color text-center pb-5">New items</h5></div>
                    <div class="d-flex flex-row justify-content-between align-items-end col-12">
                        <div class="text-color col-8">
                            <div>koththamalli</div>
                            <div>mora guli</div>
                            <div>kasthuri kaha</div>
                        </div>
                        <div class="float-right col-4"><img src="../../../assets/img/new.gif" class="w-100" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-md-6 p-3">
                <div class="p-4 shadow-elements bg-light h-100 rounded">
                    <div><h5 class="text-color text-center pb-5">Newly added recipes</h5></div>
                    <div class="d-flex flex-row justify-content-between align-items-end col-12">
                        <div class="text-color col-8">
                            <div>koththamalli</div>
                            <div>mora guli</div>
                            <div>kasthuri kaha</div>
                        </div>
                        <div class="float-right col-4"><img src="../../../assets/img/food.gif" class="w-100" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1 d-none d-xl-block"></div>
            <div class="col-xl-12 d-none d-xl-block p-2"></div>
            <div class="col-lg-4 col-xl-3  col-md-6 p-3">
                <div class="p-4 shadow-elements bg-light h-100 rounded">
                    <div><h5 class="text-color text-center pb-5">Newly added doctors</h5></div>
                    <div class="d-flex flex-row justify-content-between align-items-end col-12">
                        <div class="text-color col-8">
                            <div>koththamalli</div>
                            <div>mora guli</div>
                            <div>kasthuri kaha</div>
                        </div>
                        <div class="float-right col-4"><img src="../../../assets/img/doctor.gif" class="w-100" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3  col-md-6 p-3">
                <div class="p-4 shadow-elements bg-light h-100 rounded">
                    <div><h5 class="text-color text-center pb-5">Newly added yoga poses</h5></div>
                    <div class="d-flex flex-row justify-content-between align-items-end col-12">
                        <div class="text-color col-8">
                            <div>koththamalli</div>
                            <div>mora guli</div>
                            <div>kasthuri kaha</div>
                        </div>
                        <div class="float-right col-4"><img src="../../../assets/img/yoga.gif" class="w-100" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>